@page "/fetchdata"
@page "/fetchdata/{CurrentCount:int}"
@using System;
@using System.Text;
@using NodaTime;
@using Newtonsoft;
@using TableTracewithQRCode.Data;
@inject TableTracewithQRCode.Data.HomeController  homeController
@inject NavigationManager navigationManager
@inject TableTracewithQRCode.Data.MyService  myService

@using System.ComponentModel.DataAnnotations;
@using System.Net.Http;
@using System.Net.Http.Json;
@using Telerik.Blazor.Components


@inject HttpClient client
@inject IJSRuntime JsRuntime

<h2>Restaurant Contact Tracing</h2>
<h1>Logged tableTraces</h1>
<br />
@if (tableTraces == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table2">
        <tbody>
            <tr>
                <td colspan="3">
                    <input id="Date" value=@ThisDate type="text" @onfocus="@DatePickerFocused" />
                    <DatePicker Style="opacity:1" SelectedDate="BookingDate_Local" Visible="DatePickerVisible" OnSelected="LocaDateSelected" />
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table2">
        <tr>
            <td> <button class="btn btn-primary" @onclick="GetData">Get all Data</button></td>
            <td>&nbsp;&nbsp;</td>
            <td> <button class="btn btn-primary" @onclick="ClearData">Clear Data</button></td>
            <td>&nbsp;&nbsp;</td>
            <td><button class="btn btn-primary" @onclick="LogOut">LogOut</button></td>
            <td><button class="btn btn-primary" @onclick="DaysAgo28">28 Days Ago</button></td>
        </tr>

    </table>
    <p><b>Note: After logging in/out please refresh the rendered page.</b></p>
    @if (@showGif)
    {
        <img src="./basicloader.gif" />
    }
    <label>@Message</label>
    @if (tableTraces == null)
    {
        <label>Please wait ..Loading data.</label>
    }
    else
    {
        @*<table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Pin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ath in tableTraces)
                    {
                        <tr>
                            <td>@ath.Id</td>
                            <td>@ath.Name</td>
                            <td>@ath.PhoneNumber</td>
                            <td>@ath.Email</td>
                            <td>@ath._Date</td>
                            <td>@ath._Time</td>
                            <td>@ath.Pin</td>
                        </tr>
                    }
                </tbody>
            </table>*@
        <TelerikGrid Data="@tableTraces"
                     OnDelete="@DeleteHandler"
                     Resizable="true" Reorderable="true">
            <GridColumns>
                <GridColumn Field=@nameof(TableTrace.Id) Title="Id" Editable="false" />
                <GridColumn Field=@nameof(TableTrace.Name) Title="Name" Editable="false" />
                <GridColumn Field=@nameof(TableTrace.PhoneNumber) Title="Mobile" Editable="false" />
                <GridColumn Field=@nameof(TableTrace.Email) Title="Email" Editable="false" />
                <GridColumn Field=@nameof(TableTrace._Date) Title="Date" Editable="false" />
                <GridColumn Field=@nameof(TableTrace._Time) Title="Time" Editable="false" />
                <GridColumn Field=@nameof(TableTrace.Pin) Title="Pin" Editable="false" />
                <GridCommandColumn>
                    <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    }
}

@code {

        [Parameter]
        public int? CurrentCount { get; set; }

        DateTime BookingDate_DT;
        DateTime Today_DT;
        LocalDate Today_Local;
        LocalDate BookingDate_Local;
        string ThisDate;
        bool DatePickerVisible = false;

        bool showGif = false;
        string Message = null;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        CurrentCount = CurrentCount ?? 1;
        if (!Settings.Dev)
        {
            if (CurrentCount != TableTracewithQRCode.Data.Settings.FetchDataPin)
            {
                navigationManager.NavigateTo("/");
            }

            if (!homeController.GetState())
            {
                navigationManager.NavigateTo("/");
            }
        }
        await GetData();
        Today_DT = DateTime.Today;
        Today_Local = new LocalDate(Today_DT.Year, Today_DT.Month, Today_DT.Day);
        BookingDate_DT = Today_DT;
        BookingDate_Local = Today_Local;

        ThisDate = BookingDate_DT.ToString("D");
        this.StateHasChanged();
    }

    private TableTrace[] tableTraces = null;
    private TableTrace[] AlltableTraces;

    private async Task ClearData()
    {
        tableTraces = await client.GetFromJsonAsync<TableTrace[]>($"{Settings.TableTracesPath}");
        AlltableTraces = tableTraces;
    }

    private void LogOut()
    {
        homeController.LogOut();
        myService.CallRequestRefresh();
        navigationManager.NavigateTo("/");
    }

    void DatePickerFocused(FocusEventArgs e)
    {
        DatePickerVisible = true;
        StateHasChanged();
    }

    async Task GetData()
    {
        showGif = true;
        StateHasChanged();
        tableTraces = await client.GetFromJsonAsync<TableTrace[]>($"{Settings.TableTracesPath}");
        AlltableTraces = tableTraces;
        showGif = false;
        StateHasChanged();
    }

    void RefreshData(DateTime date)
    {
        //tableTraces = await client.GetFromJsonAsync<TableTrace[]>($"{Settings.baseURL}");
        var aths = from ath in AlltableTraces where ath.Date.Date == date.Date select ath;
        tableTraces = aths.ToArray<TableTrace>();
    }

    /*async Task*/
    void LocaDateSelected(LocalDate localDate)
    {
        BookingDate_DT = new DateTime(localDate.Year, localDate.Month, localDate.Day);
        ThisDate = BookingDate_DT.ToString("D");

        BookingDate_Local = localDate;
        DatePickerVisible = false;
        RefreshData(BookingDate_DT);
        StateHasChanged();
    }


    async Task DeleteHandler(GridCommandEventArgs args)
    {
        //AppendToLog("Delete", args);

        TableTrace item = (TableTrace)args.Item;

        if (item != null)
        {        // perform actual data source operation here through your service
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Do you wish to delete that booking slot?");
            if (confirmed)
            {
                showGif = true;
                StateHasChanged();
                string target = $"{Settings.TableTracesPath}/{item.Id}";

                var response = await client.DeleteAsync(target);
                if ((response.StatusCode != System.Net.HttpStatusCode.OK) && (response.StatusCode != System.Net.HttpStatusCode.NoContent))
                {
                    Message = $"Code: {response.StatusCode}  Reason: {response.ReasonPhrase} Request: {response.RequestMessage}";
                }

                showGif = false;
                StateHasChanged();
            }
        }
    }

    async Task DaysAgo28()
    {
        if (BookingDate_DT != Today_DT)
            return;
        showGif = true;
        DateTime daysAgo = BookingDate_DT.AddDays(-27).Date;
        var aths = from ath in AlltableTraces where DateTime.Compare(ath.Date.Date ,daysAgo) <0  select ath;
        tableTraces = aths.ToArray<TableTrace>();
        StateHasChanged();
        if (tableTraces.Count() == 0)
        {
            showGif = false;
            await JsRuntime.InvokeAsync<bool>("alert", "No logs from 28 days ago or earlier.");

            return;
        }
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Do you wish to delete all of the entries 28 days ago or earlier?");
        if (confirmed)
        {
            foreach (var ath in tableTraces)
            {
                string target = $"{ Settings.TableTracesPath}/{ath.Id}";

                var response = await client.DeleteAsync(target);
                if ((response.StatusCode != System.Net.HttpStatusCode.OK) && (response.StatusCode != System.Net.HttpStatusCode.NoContent))
                {
                    Message = $"Code: {response.StatusCode}  Reason: {response.ReasonPhrase} Request: {response.RequestMessage}";
                }
            }
        }
        showGif = false;

    }

}
